

.screen {
  height: 80vh;
  width: 100%;
  border: thin solid black;
  background-color: #ffffff;
  padding-bottom: 10%;
  padding-top: 2%;
  overflow: auto;
}

.note {
  width: 100%;
  height: 100%;
}

.grid {
    background-color: #EF2D29;
}

#table {
  background-color: #CEE3F8;
  height: 100vh;
  width: 100vw;
}
