.addBoard {
  text-decoration: none;
  font-size: 1.5em;
  opacity: 0.5;
  color: black;
	text-align: center;
	background-color: grey;
  padding-top:4%;
	padding-bottom:4%;
  &:hover, &:focus {
    text-decoration: none;
    color: black;
  }
}
