.c-note {
  display: block;
  background: rgb(237, 208, 13);
  padding-top: 100%;
}
.c-note--focused {
  border: 0.25em red dotted;
}

.c-note__inner {
  display: block;
  position: absolute;
  width: calc(100% - 2em);
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
}

.c-note__content {
  display: block;
  font-size: 5.8vw;
  word-wrap: break-word;
}

.c-note__input {
  position: absolute;
  left: -200vw;
  top: -200vh;
}
